.logo {
    color: blueviolet;
}

.links {
    color: #212121;
}

.links:hover {
    color: #2196F3
}

.li {
    list-style-type: none;
}

.navigation {
    color: #000000;
}

.phone-number {
    color: #757575;
}
.phone-number {
  color: #2196F3
}


.button {
    color: #2196F3
}

.navigation-span {
    color:#2196F3
}

.navigation-footer {
    color: #FFFFFF;
    background-color: #000000;
}

.button {
    color: #000000;
}

.button:hover {
    color: #FFFFFF;
    background-color: #2196F3;
}

.button:focus {
    color: #2196F3;
}


