.logo {
    color: blueviolet;
}

.links {
    color: #212121;
}

.links:hover {
    color: #2196F3
}

.li {
    list-style-type: none;
}

.navigation {
    color: #000000;
}

.phone-number {
    color: #757575;
}

.button {
    color: #2196F3
}

.navigation-span {
    color:#2196F3
}

.navigation-footer {
    color: #FFFFFF;
    background-color: #2F303A;
}

