h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

li {
    list-style: none;
}

.blue-text {
    color: #2196F3;
    text-decoration: none;

}

.black-text {
    
    color: black;
}

.white-text {
    
    color: #FFFFFF;
} 

.logo-name {
    font-family: 'Raleway';
    font-weight: 700;
    font-size: 26px;
    line-height: 1.19;
    letter-spacing: 0.03em;
    margin-right: 93px;
    text-decoration: 0;
    text-decoration: none;
    display: flex;
    align-items: flex-start;
}

/* HEADER */

.header {
    width: 1170px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
    display: flex;
}

.headre-right {
    justify-content: end;
}


.footer{
    
 background-color: #2F303A;
}

.footer-container{
    padding-left: 215px;
    
}

.footer-container-2 {
    padding-left: 516px;
    
} 


html {
    padding: auto;
    margin: auto;
}


.social-icons {
    display: flex;
    flex-direction: column;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
} */

li,a,p  {
list-style: none;
color: #fff
;
}


/* ICON */

/* .button-icon:hover{
    background-color: #2196F3;
    border-radius: 50%;
} */

.social-list-item {
display: flex;

width: 44px;
height: 44px;
border-radius: 50%;
justify-content: center;
align-items: center;
cursor: pointer;
transition-duration: 1000ms;
transition-timing-function: 
cubic-bezier(.05, .94, .99, -0.08);
transition-delay: 100ms;

}

.social-list-item:hover{
background-color: #2196F3;
}
 
.social-list-icon {
    fill: #AFB1B8;
}
.social-list-icon:hover{
fill: #fff;
}

.social-list-item:hover .social-list-icon {
    fill: #fff;
}

.social-list{
    display: flex;
    justify-content: space-between;
    padding: 0;
    width: 200px;
}


.section-clients{
    width: 1170px;
    height: 184px;
    display: flex;
    justify-content: space-between;
    
}

.section-client-bg{
    width: 170px;
    height: 92px;
    flex-shrink: 0;
    border-radius: 4px;
    border: 1px solid #AFB1B8;
    padding: 0px;
    display: flex; 
    justify-content: center; 
    align-items: center; 
}



/* FOOTER */

.footer {
    width: auto;
    height: 252px;
    background: #2F303A;
    padding: 0;
    margin: 0;
    display: flex;
}

.adress {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.email-number {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.left-bg {
    width: 231px;
    padding-left: 215px;
    padding-top: 60px;
}

.white-text-footer{
    color: #FFF;
    
    font-family: Roboto;
    font-size: 14px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 0.42px;
    text-transform: uppercase;

    padding-bottom: 20px;
}

.right-bg {
    padding-top: 80px;
    padding-left: 62px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

.social-list-icon-footer {
width: 20px;
height: 20px;
flex-shrink: 0;

}

.social-list-item-footer {
width: 44px;
height: 44px;
flex-shrink: 0;
border-radius: 50%;
background-color: rgba(255, 255, 255, 0.10);
background-position: center;
display: flex;
justify-content: center;
align-items: center;
position: relative;
}

.social-list-item-footer:hover{
    background-color: #2196F3;
    cursor: pointer;
    transition-duration: 1000ms;
    transition-timing-function:
    cubic-bezier(.05, .94, .99, -0.08);
    transition-delay: 100ms;    
}

/* .white-text-footer+.social-list {
    margin-top: 10px;
} */


/* a.text {
    text-decoration: none;
    color: #666;
}

a.text:hover,
a.text:active,
a.text:visited {
    color: #666;
   
} */