/* h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

li {
    list-style: none;
}

.blue-text {
    color: #2196F3;
    text-decoration: none;

}

.black-text {
    
    color: black;
}

.white-text {
    
    color: #FFFFFF;
}




.footer{
    
 background-color: #2F303A;
}

.footer-container{
    padding-left: 215px;
    
}

.footer-container-2 {
    padding-left: 516px;
    
} */

/* .footer2222222 {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #333;
  
    color: #fff;
    
    padding-left: 215px;
}

.footer-container {
    list-style: none;
    padding: 0;
}

.footer-container li {
    margin-bottom: 10px;
}

.footer-name {
    font-weight: bold;
    margin-bottom: 10px;
}

.social-icons {
    display: flex;
    flex-direction: column;
}

.social-icons a {
    color: #fff;
    text-decoration: none;
    margin-bottom: 5px;
} */

li,a,p  {
list-style: none;
color: #fff
;
}



.button-icon:hover{
    background-color: #2196F3;
    border-radius: 50%;
}

.social-list-item{
display: flex;
/* background-color: #2196F3; */
width: 44px;
height: 44px;
border-radius: 50%;
justify-content: center;
align-items: center;
cursor: pointer;
}

.social-list-item:hover{
background-color: #2196F3;
}
 
.social-list-icon {
    fill: #AFB1B8;
}
.social-list-icon:hover{
fill: #fff;
}

.social-list{
    display: flex;
    /* justify-content: space-between; */
}

/* .footer-name {
    color: #FFFFFF;
}


.adress {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: #FFFFFF;
}

.email-number {
    font-family: 'Roboto';
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: rgba(255, 255, 255, 0.6);
}

.menu-nav {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 14px;
    line-height: 1.14;
    letter-spacing: 0.02em;
    color: #212121;
    margin-right: 50px;
}

.menu-filter {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    text-align: center;
    letter-spacing: 0.03em;

    color: #212121;
}

.menu-filter:hover,
.menu-filter:focus {
    background-color: #2196F3;
    color: #FFFFFF;
}

.feature2 {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 18px;
    line-height: 2;
    letter-spacing: 0.06em;
    color: #212121;
}

.image-it:nth-child() {
    margin-right: 30px;
}

.footer {
    background-color: #2F303A;
    padding-left: 215px;
    padding-bottom: 60px;
    margin-top: 90px;
}

.name-footer {
    margin-bottom: 20px;
    padding-top: 60px;
}

.button-portfolio {
    text-align: center;
    margin-top: 94px;
    margin-bottom: 50px;
}

.photo-card {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
} */