h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

.hero-text {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    margin-top: 200px;
    margin-left: 452px;
    margin-right: 452px;
    margin-bottom: 30px;

    /* color: #FFFFFF; */
}

.btn-hero {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    justify-content: center;/* Центрирование по горизонтали */
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: #2196F3;
    color: #FFFFFF;
    margin-top: 30px;
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    border-radius: 5px;
}