h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin-top: 0px;
    margin-bottom: 0px;
}

li {
    list-style: none;
}

.hero-bg {
    /* background-color: #2F303A; */
    /* background-image: url(./photos/hero-img.png); */
    background-image: linear-gradient(to right,
                rgba(0, 0, 0, 0.4),
                rgba(0, 0, 0, 0.4)),
     url(./photos/hero-img.png)
}

.hero-bg::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient
    (to right, 
    rgba(0, 0, 0, 0.2), 
    rgba(0, 0, 0, 0.2));
}

.hero-text {
    font-family: 'Roboto';
    font-weight: 900;
    font-size: 44px;
    line-height: 1.36;
    text-align: center;
    letter-spacing: 0.06em;
    text-transform: uppercase;
    padding-top: 200px;
    margin-left: 452px;
    margin-right: 452px;
    margin-bottom: 30px;

    color: #FFFFFF;
}

.button-hero {
    font-family: 'Roboto';
    font-weight: 700;
    font-size: 16px;
    line-height: 1.88;
    display: flex;
    align-items: center;
    justify-content: center;
    /* Центрирование по горизонтали */
    text-align: center;
    letter-spacing: 0.06em;
    cursor: pointer;
    background-color: #2196F3;
    color: #FFFFFF;
    margin-top: 30px;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 20px;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px 
    rgba(0, 0, 0, 0.15);
}

.button {
    padding-bottom: 200px;

}





